.sm-quote-full{
    min-width: 10em;
    max-width: 50em;
    background-color: #e7e7e7;
    padding: .5em;
}
.sm-speaker-full{
    font-size: 1em;
    margin: .5em 0px .5em 0px;
    font-weight: bold;
    text-align: right;
}
.sm-speaker-words-full{
    font-size: 1.75em;
    font-style: italic;
    text-align: left;
}
.sm-source-wrapper-full{
    font-size: 1em;
    margin: .5em 0px 0px 0px;
    text-align: left;
}
.sm-quote-close-float-right{
    float: right;
}
.sm-clear-both{
    clear: both;
}