<div class="sm-news-banner-wrapper" *ngIf="newsContent">
    <div class="container">
        <div id="news-content-close-modal-row" class="row justify-content-center">
            <div class="col-12">
                <div class="row mt-3 mb-1">
                    <button type="button" title="Dismiss Modal" class="col-12 btn btn-outline-dark news-alert-close-modal-alt d-md-none" (click)="close()">Close</button>
                    <button type="button" title="Dismiss Modal" class="col-1 offset-11 btn btn-outline-dark news-alert-close-modal-alt d-none d-md-block" (click)="close()">X</button>
                </div>
            </div>
        </div>
        <div id="news-content-wrapper" class="row">
            <button 
                id="news-content-previous-button"
                *ngIf="numberOfNewsAlerts>1" 
                class="col-1 navigation-buttons" 
                type="button"
                (click)="previous()" 
                title="Previous News Alert">&lt;</button>
            <div id="news-content-main-content" class="col-{{mainBodyWidth}}">
                <div id="news-content-title-row" class="row">
                    <div class="col news-alert-title">{{newsContent.title}}</div>
                </div>
                <hr />
                <div id="news-content-main-blurb" class="row justify-content-center">
                    <div class="col news-alert-main-blurb">{{newsContent.mainBlurb}}</div>
                </div>
                <div id="news-content-image" class="row justify-content-center" *ngIf="newsContent.imageInfo.source">
                    <a *ngIf="imageIsLink; else imageNotAUrl" class="col" target="_blank" rel="noopener" href="{{newsContent.imageInfo.imageUrl}}" title="{{newsContent.imageInfo.imageUrlTitle}}">
                        <div class="col news-alert-imageUrl">
                            <img src="{{newsContent.imageInfo.source}}" alt="{{newsContent.imageInfo.alt}}" title="{{newsContent.imageInfo.imageUrlTitle}}" />
                        </div>
                    </a>
                    <ng-template #imageNotAUrl>
                        <div class="col news-alert-imageUrl">
                            <img src="{{newsContent.imageInfo.source}}" alt="{{newsContent.imageInfo.alt}}" title="{{newsContent.imageInfo.title}}" />
                        </div>
                    </ng-template>
                </div>
                <div id="news-content-alt-blurb" class="row justify-content-center" *ngIf="newsContent.altBlurb">
                    <div class="col news-alert-alt-blurb">{{newsContent.altBlurb}}</div>
                </div>
                <hr />
                <div id="news-content-urls" class="row justify-content-center news-alert-urls">
                    <a class="news-alert-link col-sm-12 col-md-{{urlColumnWidth}}" 
                        *ngIf="checkUrlInfoValidity(newsContent.url1)" 
                        target="_blank" 
                        rel="noopener" 
                        href="{{newsContent.url1.url}}" 
                        title="{{newsContent.url1.title}}">{{newsContent.url1.text ? newsContent.url1.text : newsContent.url1.title}}</a>
                    <a class="news-alert-link col-sm-12 col-md-{{urlColumnWidth}}" 
                        *ngIf="checkUrlInfoValidity(newsContent.url2)" 
                        target="_blank" 
                        rel="noopener" 
                        href="{{newsContent.url2.url}}" 
                        title="{{newsContent.url2.title}}">{{newsContent.url2.text ? newsContent.url2.text : newsContent.url2.title}}</a>
                    <a class="news-alert-link col-sm-12 col-md-{{urlColumnWidth}}" 
                        *ngIf="checkUrlInfoValidity(newsContent.url3)" 
                        target="_blank" 
                        rel="noopener" 
                        href="{{newsContent.url3.url}}" 
                        title="{{newsContent.url3.title}}">{{newsContent.url3.text ? newsContent.url3.text : newsContent.url3.title}}</a>
                </div>
            </div>
            <button
                id="news-content-next-button"
                *ngIf="numberOfNewsAlerts>1"
                class="col-1 navigation-buttons"
                type="button"
                (click)="next()"
                title="Next News Alert">&gt;</button>
        </div>
        <div id="news-content-footer-close-button" class="row justify-content-center mt-3 mb-1">
            <button type="button" title="Dismiss Modal" class="col-12 btn btn-outline-dark news-alert-close-modal" (click)="close()">Close</button>
        </div>
    </div>
</div>