.sm-news-banner-wrapper{
    color: #272b2e;
    background-color: ghostwhite;
    box-shadow: rgba(0, 0, 0, .7) 1px 1px 5px;
    border-radius: .3em;
    padding: .5em;
}
.news-alert-close-modal{
    background-color: #272b2e;
    color:ghostwhite;
    box-shadow: rgba(0, 0, 0, .7) 1px 1px 5px;
    border-radius: 12px;
    border-color: ghostwhite;
    border-style: ridge;
    border-width: 1px;
}
.news-alert-close-modal:hover{
    color: #272b2e;
    background-color: ghostwhite;
    text-decoration: none;
}
.news-alert-close-modal-alt{
    color: #272b2e;
    background-color: #d11a2a;
    box-shadow: rgba(0, 0, 0, .7) 1px 1px 5px;
    border-radius: 12px;
    font-weight: 1000;
    border-color: #272b2e;
    border-style: ridge;
    border-width: 1px;
}
.news-alert-close-modal-alt:hover{
    text-decoration: none;
}
.news-alert-close-modal-alt-desktop{
    height: 25%;
    margin-top: 3%;
}
.news-alert-title{
    font-size: 2.75em;
    text-align: center;
    margin-top: .1em;
}
.news-alert-main-blurb,
.news-alert-alt-blurb{
    font-size: 1.25em;
    text-align: center;
}
.news-alert-img-wrapper{
    text-align: center;
    margin: .35em 0 .35em;
}
.news-alert-img-emphasized,
.news-alert-img{
    max-height: 400px;
    max-width: 350px;
}
.news-alert-img-emphasized{
    box-shadow: rgba(0, 0, 0, .7) 1px 1px 5px;
}
.no-drop-shadow{
    box-shadow: none !important;
}
.news-alert-urls{
    margin-top: .25em;
    margin-bottom: .25em;
}
.news-alert-link{
    display: inline-block;
    padding: .2em 1em;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, .7) 1px 1px 5px;
    text-decoration: none;
    color: ghostwhite;
    text-align: center;
    background-color: #272b2e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-alert-link:hover{
    color: #272b2e;
    background-color: ghostwhite;
    text-decoration: none;
}
.navigation-buttons{
    font-size: 3.5em;
    font-weight: 1000;
    background-color: transparent !important;
    border: none !important;
    padding: 0em;
    text-align: center;
}
