<div class="sm-quotes-wrppper container" *ngIf="listOfQuotes; else elseBlock">
    <div class="sm-quote row" (click)="openModal(quote)" *ngFor="let quote of listOfQuotes">
        <div class="col">
            <div class="sm-speakers-wrapper row">
                <div *ngFor="let speaker of quote.speakers; let last = last">
                    <div *ngIf="isSpeakerDisplayedInList(speaker)">
                        <div class="sm-speaker-words">{{speaker.words | truncate : numberOfCharactersToDisplay : true}}</div>
                        <div class="sm-speaker">- {{speaker.person}}</div>
                    </div>
                    <div class="sm-speaker-words sm-quote-align-center" *ngIf="last">{{processFinalSpeakerOfQuote()}}</div>
                </div>
            </div>
            <div class="sm-source-wrapper row">
                <div>From {{quote.source.story}}</div>
                <div *ngIf="quote.source.series">A part of, {{quote.source.series}}</div>
            </div>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="container mb-4">
        <div class="row justify-content-center">
            <div class="loader"><div class="inner-glow"></div></div>
        </div>
    </div>
</ng-template>